.stopwatch {
    height: 100vh;
    width: 23vw;
    background-color: #0d0c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.container {
    background-color: rgb(186, 186, 186);
}