.container {
    background-color: rgb(186, 186, 186);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1px; 
}

.stopwatch {
    height: 80vh;
    width: 23vw;
    background-color: #0d0c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 490px) {
    .stopwatch {
        width: 60vw;
        height: calc(80vh - 10rem); 
    }
    .container {
        min-height: calc(100vh - 2rem); 
        padding-top: 2rem; 
    }
}
